tubuh{
    warna latar belakang:berwarna hijau;
    keluarga font:tanpa serif;
    batas:0;
    lapisan:0;
}

tubuh{
    warna latar belakang:berwarna hijau;
    keluarga font:tanpa serif;
    batas:0;
    lapisan:0;
}

.judul{
    lebar:90%;
    batas:20pxmobil10pxmobil;
    tinggi:120px;
    tinggi baris:120px;
    latar belakang:#417aa8;
    warna:putih;
}

.jarak{
    lapisan:0 30px;
}
  
.menu{
    warna latar belakang:#417aa8;
    lebar:90px;
    batas:10pxmobil0mobil;
    tinggi:50px;
    radius perbatasan:8px 8px 0 0;
}

.menu ul {
    gaya daftar:tidak ada;
    batas:0;
    lapisan:0;
}

.menu ul li A{
    mengambang:kiri;
}

.menu ul li A{
    menampilkan:memblokir;
    lapisan:0 20px;
    tinggi baris:50px;
    warna:putih;
    dekorasi teks:tidak ada;
}

.menu ul li A:arahkan kursor{
    warna latar belakang:#4b88bb
}

.menu::setelah{
    isi:"";
    menampilkan:meja;
    jernih:keduanya;
}

.wadah{
    lebar:90%;
    batas:20pxmobil;
    menampilkan:melenturkan;
    celah:20px;
}

.konten-kiri{
    melenturkan:7;
}

.bilah sisi{
    melenturkan:3;
    warna latar belakang:putih;
    lapisan:20px;
    berbatasan:1pxpadat#ccc;
    tinggi:konten yang sesuai;
}

.kotak{
    warna latar belakang:putih;
    berbatasan:1pxpadat#417aa8;
    lapisan:20px;
    margin-bawah:20px;
}

.kotak h3{
    margin-atas:0;
    warna: #417aa8;
}

.bilah sisi daftar{
    gaya daftar:tidak ada;
    lapisan:0;
  }

.bilah sisi daftar li{
    lapisan:8px 0;
    batas bawah: 1pxpadat#eee;
}

.bilah sisi daftar li A{
    dekorasi teks:tidak ada;
    warna:#417aa8;
    ketebalan huruf:berani;
}

.kaki{
    perataan teks:tengah;
    lapisan:20px;
    warna:#333;
}
  .kotak kaki{
      warna latar belakang:#417aa8;
      warna:putih;
      lapisan:15px;
      berbatasan:1pxpadat#ccc;
      radius perbatasan:5px;
      perataan teks:kiri;
      lebar:90%;
      batas:20pxmobil;
      ukuran kotak:kotak perbatasan;
  }
  .pembungkus-hijau{
      warna latar belakang:#fff9c4;
      lebar:90%;
      batas:0mobil20pxmobil;
      lapisan:20px o;
      radius perbatasan:0 0 8px 8px;
      berbatasan:1pxpadat#e6e600;
  }

  .pembungkus-hijau.wadah{
      lebar:95%;
      batas:0mobil;
      menampilkan:melenturkan;
      celah:20px;
  }
