body{
  background: #f3f3f3;
  color:#333;
  width:100%;
  font-family: sans-serif;
  margin:0 auto;
}

.header{
  width:90%;
  margin:auto;
  height:120px;
  line-height:120px;
  background: #417aa8;
  color:#fff;
}

.jarak {
  padding: 0 2pc;
}

.jarak {
  padding: 0 2em;  /* or 2rem, 2px, 2%, etc. */
}

.menu {
  background-color: #417aa8;
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 90%;
  margin: 0 auto;
  padding: 0;  /* or remove entirely if no padding needed */
}

